# Dependencias
node_modules/
package-lock.json
yarn.lock

# Builds y caches
dist/
.turbo/
.next/
coverage/
web-build/
**/*.tsbuildinfo

# Expo
.expo/
.expo-shared/
apps/*/.expo/
apps/*/.expo-shared/

# Cachés de bundlers
apps/*/.expo/web/cache/

# Configuración local
.env
.env.*
.DS_Store
*.log
pnpm-debug.log
